header.header
    .header__container.clearfix
        .header__left
            .breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Customers
                        
                    li.breadcrumbs__item
                        a.breadcrumbs__link.breadcrumbs__link-active(href="#") Max Jones
        .header__right         
            .search
                form(action="#" method="post")
                    input.search__input(type="text" placeholder="search")
                    input.search__submit(type="submit")

            .notifications
                img.notifications__img(src="images/header/notification.png")
                .notifications__col 4

            .user
                .user__avatar
                    img.user__avatar-pic(src="images/header/user.png")
                .user__username Hello Lauren