aside.sidebar
    h1.title crm
    nav.sidebar
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link-dashboard(href="#") Dashboard
                li.nav__item
                    a.nav__link.nav__link-reports(href="#") Reports
                li.nav__item
                    a.nav__link.nav__link-customers.nav__link-active(href="#") Customers
                li.nav__item
                    a.nav__link.nav__link-calendar(href="#") Calendar
